.my-background-color {
    background-color: #C0FFFF;
}

.white-circle {
    width: 260px; /* 원의 너비 */
    height: 260px; /* 원의 높이 (원이라서 너비와 높이 동일) */
    background-color: white; /* 배경색을 흰색으로 설정 */
    border-radius: 50%; /* 원 모양으로 만들기 위해 반지름을 50%로 설정 */
}

.white-rectangle {
    width: 300px; /* 너비 설정 */
    height: 320px; /* 높이 설정 */
    background-color: white; /* 배경색 설정 */
    border-radius: 30px; /* 모서리 둥글기를 나타내는 값 설정 */
    cursor: 'pointer';
    padding-left: '3%';
    padding-right: '3%';
    border: '1px solid #e8e8e8';
    box-shadow: '0 4px 6px rgba(0, 0, 0, 0.1)';
}